@media (max-width: 1024px) {
  .trading {
    &__container {
      background: var(--brizz-color) url(../images/trading-small.avif) top 25px right/390px 310px no-repeat;
    }

    &__info {
      max-width: 600px;
      .text-m {
        margin-bottom: 35px;
      }
    }
  }

  .bonuses {
    &__text {
      .title-l {
        font-size: 40px;
      }
    }
  }


  .about {
    &-trading {
      &__container {
        background: var(--brizz-color) url(../images/about-trading-bg.avif) bottom right / 625px 400px no-repeat;
      }
    }
  }
}