@media (max-width: 1300px) {
  .header {
    .menu {
      & > .menu-item {
      }
    }
  }


  .main-hero {
    &__left {
      .title-m {
        font-size: 41px;
      }
    }
  }


  .intro {
    &__card {
      padding: 32px 20px;
    }

    .mod-1:before {
      top: -15px;
      left: 35px;
      padding: 5px 15px;
      font-size: 15px;
    }

    .mod-2:before {
      top: -15px;
      left: 35px;
      padding: 5px 15px;
      font-size: 15px;
    }

    .mod-3:before {
      top: -15px;
      left: 35px;
      padding: 5px 15px;
      font-size: 15px;
    }

    .mod-4:before {
      top: -15px;
      left: 35px;
      padding: 5px 15px;
      font-size: 15px;
    }

    &__avatars {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }


  .trading {
    &__container {
      background: var(--brizz-color) url(../images/trading-small.avif) top 50px right/520px 400px no-repeat;
    }

  }


  .account {
    &__card {
      &-3 {
        background: var(--light-grey-color) url(../images/account.avif) top 380px center/contain no-repeat;
      }
    }
  }


  .trust {
    &__card {
      padding: 30px 20px;

      .text-m {
        font-size: 17px;
      }
    }
  }


  .invest {
    &__container {
      padding: 80px 120px 120px;
    }
  }


  .footer {
    &__logo {
      width: 270px;
    }

    .menu {
      gap: 40px;
    }

    .menu-descr {
      max-width: 450px;
    }
  }
}