@media (max-width: 1400px) {
  .header {
    &__left {
      padding-left: 10px;
    }

    .menu {

      & > .menu-item {
        & > a {
          padding: 10px;
        }
      }
    }
  }

  .main-hero {

    &__right {
      background: var(--light-grey-color) url(../images/mine-hero-bg-traid.avif) right bottom / contain no-repeat;
    }
  }

  .trading {
    &__container {
      background: var(--brizz-color) url(../images/trading.avif) top right / 715px 450px no-repeat;
    }
  }

  .footer {
    &__container {
      background: var(--light-grey-color) url(../images/footer-bg.avif) top -45px right / auto no-repeat;
    }

    &__box {
      .menu {
        gap: 40px;
        &-item {
          white-space: nowrap;
        }
      }
    }

    &__logo {
      width: 300px;
    }
  }
}