@media (max-width: 1400px) {
  .header {
	&__left {
	  padding: 0 20px 0 10px;
	}

	&__logo {
	  width: 185px;
	  height: 30px;
	}
  }

    .main-hero {
	  &__left {
		padding: 140px 30px 30px;
	  }

	  &__right {
		background: var(--light-grey-color) url(../images/mine-hero-bg-traid.avif) right bottom / contain no-repeat;
	  }
	}

  .trust {
	&__card {
	  padding: 25px;
	}
  }

  .footer {
	.menu-descr {
	  max-width: 590px;
	}

	&__logo {
	  width: 300px;
	}
  }
}