@media (max-width: 360px) {
  .container {
    padding: 0 15px;
  }

  .main-bg {
    background: url(../images/intro-bg.avif) center / 300px 300px no-repeat fixed;
  }

  .header {
    &__left {
      padding-left: 10px;
    }

    &__logo {
      width: 130px;
    }
  }

  .main-hero {
    &__left {
      background: #3ba6b1 url(../images/main-hero-bg.avif) left bottom -160px / auto no-repeat;

      .title-m {
        font-size: 25px;
      }
    }
  }


  .trading {
    &__container {
      background: var(--brizz-color);
      gap: 20px;
    }
    &__info {
      .text-m {
        margin-bottom: 0;
      }
    }
  }

  .account {
    &__card {
      .btn {
        font-size: 17px;
      }
    }
  }

  .bonuses {
    &__text {
      .text-l {
        font-size: 18px;
      }
    }
  }

  .invest {
    &__container {
      padding: 35px 16px 60px;
    }

    .btn {
      font-size: 18px;
    }
  }

  .footer {
    &__top {
      gap: 20px;
    }
    &__contact {
      margin-left: 15px;

      &:after {
        left: -20px;
      }
    }

    &__mail {
      margin-left: 25px;

      &:after {
        left: -30px;
      }
    }

    .text-m {
      font-size: 17px;
    }
  }
}