@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }

  .main-bg {
    background: url(../images/intro-bg.avif) center / 400px 400px no-repeat fixed;
  }


  .header {
    &__logo {
      width: 180px;
    }

    .nav {
      max-width: 100%;
      background: rgba(59, 166, 177);
    }
  }

  .header .nav > .menu > .menu-item > a {
    padding: 20px 10px;
  }

  .header .nav > .menu > .menu-item > .sub-menu {
    padding: 20px 10px;
  }

  .header__right--mobile .menu > .menu-item > a {
    padding: 20px 10px;
  }

  .header__right--mobile .menu > .menu-item > .sub-menu {
    padding: 20px 10px;
  }


  .main-hero {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 16px;
      background: #3ba6b1 url(../images/main-hero-bg.avif) left bottom -150px / auto no-repeat;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    &__right {
      padding: 0;
      background: var(--light-grey-color) url(../images/mine-hero-bg-traid.avif) right bottom / contain no-repeat;
    }

    .features {
      padding: 16px;
      border-radius: 30px;
    }
  }

  .intro {
    padding-bottom: 80px;

    &__card {
      padding: 30px 16px 16px;
      min-height: 280px;
    }

    .title-l {
      font-size: 24px;
    }

    &__descr {
      .title-s {
        font-size: 18px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    .mod-1:before {
      padding: 6px 20px;
    }

    .mod-2:before {
      padding: 6px 20px;
    }

    .mod-3:before {
      padding: 6px 20px;
    }

    .mod-4:before {
      padding: 6px 20px;
    }
  }

  .trading {
    padding-bottom: 80px;

    &__container {
      gap: 10px;
    }

    &__card {
      padding: 16px;
    }

    &__info {
      background: var(--brizz-color) url(../images/trading-small.avif) center bottom / 321px 260px no-repeat;
      padding: 32px 16px 200px;

      .title-l {
        font-size: 24px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__text {
      .title-s {
        font-size: 18px;
      }

      .text-m {
        font-size: 16px;
      }
    }
  }


  .account {
    padding: 0 0 80px;

    &__card {
      padding: 25px 16px;

      &-1 {
        .title-s {
          font-size: 18px;
        }
      }

      &-2 {
        .title-s {
          font-size: 18px;
        }
      }

      &-3 {
        max-height: 400px;
        background: var(--light-grey-color) url(../images/account.avif) top 265px center / contain no-repeat;

        .title-l {
          font-size: 23px;
        }
      }

      .text-m {
        font-size: 16px;
      }
    }
  }


  .bonuses {
    padding-bottom: 80px;

    &__container {
      padding: 16px;
    }

    &__wrapper {
      gap: 30px;
    }

    &__text {
      gap: 25px;

      .title-l {
        font-size: 24px;
      }
    }

    &__descr {
      margin-bottom: 25px;

      .text-m {
        font-size: 16px;
      }
    }
  }


  .trust {
    padding-bottom: 80px;

    .title-l {
      font-size: 24px;
    }

    &__card {
      padding: 16px;

      .text-m {
        font-size: 16px;
      }
    }
  }

  .invest {
    padding-bottom: 80px;

    &__container {
      padding: 35px 16px 80px;
    }

    .title-l {
      font-size: 24px;
    }

    &__text {
      .text-m {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }

  .footer {
    &__container {
      background: var(--light-grey-color) url(../images/footer-small-bg.avif) top right / auto no-repeat;
      padding: 16px;
    }

    &__logo {
      width: 100%;
    }

    &__top {
      margin-bottom: 60px;
    }

    .menu {
      gap: 30px;
    }

    &__risk {
      font-size: 14px;
    }
  }


  .cookies {
    left: 20px;
    right: 20px;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .btn {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }
  }


  .about {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__right {
      background: #f0f0f0 url(../images/about.avif) center center / cover no-repeat;
      height: 260px;
      max-height: 300px;
    }

    &-market {
      padding-bottom: 80px;

      &__left {
        max-height: 320px;

        .text-m {
          font-size: 16px;
        }
      }

      &__right {
        padding: 16px;

        .text-m {
          font-size: 16px;
        }
      }
    }

    &-trading {
      padding-bottom: 80px;

      &__container {
        padding: 16px;
      }

      .title-l {
        font-size: 24px;
        margin-bottom: 20px;
      }

      &__card {
        padding: 16px;
      }

      &__text {
        .title-s {
          font-size: 18px;
        }

        .text-m {
          font-size: 16px;
        }
      }
    }

    &-numbers {
      padding-bottom: 80px;

      &__container {
        padding: 25px 16px 16px;
      }

      .title-l {
        font-size: 32px;
      }

      &__cards {
        gap: 30px;
      }

      .title-m {
        font-size: 18px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &-invest {
      padding-bottom: 80px;

      &__container {
        padding: 35px 16px 80px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 24px;
      }

      .text-m {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }


  .contacts {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__right {
      background: var(--light-grey-color) url(../images/contacts-bg.avif) center bottom / 290px 270px no-repeat;
    }

    &-trading {
      padding-bottom: 80px;

      &__container {
        padding: 30px 16px 16px;
      }

      &__form {
        padding: 16px;
      }

      &__item {
        .text-m {
          font-size: 16px;
        }
      }

      &__check {
        .text-s {
          font-size: 14px;
        }
      }
    }
  }

  .documents {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &-intro {
      padding-bottom: 80px;

      &__card {
        padding: 30px 16px 16px;

        .title-s {
          font-size: 20px;
        }
      }
    }

    &-trading {
      padding-bottom: 80px;

      &__container {
        padding: 30px 16px 16px;
      }

      &__info {
        .title-l {
          font-size: 27px;
        }
      }

      &__form {
        padding: 16px;
      }

      &__item {
        .text-m {
          font-size: 16px;
        }
      }

      &__check {
        .text-s {
          font-size: 14px;
        }
      }
    }
  }


  .overview {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__right {
      background: var(--light-grey-color) url(../images/overview-bg.avif) center bottom / 250px 200px no-repeat;
    }


    &-state {
      padding-bottom: 80px;

      .container {
        .title-l {
          font-size: 24px;
        }
      }

      .text-m {
        font-size: 16px;
        margin: 0 auto 32px auto;
      }
    }


    &-market {
      padding-bottom: 80px;

      &__left {
        padding: 24px 16px;
        gap: 20px;

        .title-l {
          font-size: 24px;
        }

        .text-m {
          font-size: 16px;
        }
      }

      &__right {
        padding: 24px 16px;
        gap: 20px;

        .title-l {
          font-size: 24px;
        }

        .text-m {
          font-size: 16px;
        }
      }

      .mch-widget-jwoy.mch-widget.mch-widget-leaders {
        width: 100%;
      }

      .mch-widget-jwoy.mch-widget.mch-widget-leaders .widget-wrapper {
        max-width: 300px;
      }

      &__right {
        .title-l {
          font-size: 24px;
        }

        .title-m {
          font-size: 16px;
        }
      }

      .mch-widget-jywd.mch-widget-notifier .widget-wrapper {
        max-width: 300px;
      }
    }

    &-graphics {
      padding-bottom: 80px;

      .title-l {
        font-size: 24px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &-invest {
      padding-bottom: 80px;

      &__container {
        padding: 35px 16px 80px;
      }

      .title-l {
        font-size: 24px;
      }

      .text-m {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }


  .forecasts {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 31px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__right {
      background: var(--light-grey-color) url(../images/forecasts-small-bg.avif) center center / auto no-repeat;
    }

    &-state {
      padding-bottom: 80px;
    }

    &-intro {
      padding-bottom: 80px;

      &__card {
        padding: 30px 16px 16px;
        min-height: 280px;
      }

      .title-l {
        font-size: 24px;
      }

      &__descr {
        .title-s {
          font-size: 18px;
        }

        .text-m {
          font-size: 16px;
        }
      }
    }

    &-invest {
      padding-bottom: 80px;

      &__container {
        padding: 35px 16px 80px;
      }

      .title-l {
        font-size: 22px;
      }

      .text-m {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }


  .news {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 31px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__right {
      background: var(--light-grey-color) url(../images/news-bg.avif) center right / 400px 300px no-repeat;


    }

    &-state {
      padding-bottom: 80px;
    }

    &-intro {
      padding-bottom: 80px;

      &__card {
        padding: 30px 16px 16px;
        min-height: 280px;
      }

      .title-l {
        font-size: 24px;
      }

      &__descr {
        .title-s {
          font-size: 18px;
        }

        .text-m {
          font-size: 16px;
        }
      }
    }

    &-invest {
      padding-bottom: 80px;

      &__container {
        padding: 35px 16px 80px;
      }

      .title-l {
        font-size: 22px;
      }

      .text-m {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }


  .calendar {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__right {
      height: 260px;
      max-height: 300px;
    }

    &-trading {
      padding-bottom: 80px;

      &__container {
        padding: 16px;
      }

      .title-l {
        font-size: 24px;
        margin-bottom: 20px;
      }

      &__card {
        padding: 16px;
      }

      .title-s {
        font-size: 18px;
      }
    }

    &-invest {
      padding-bottom: 80px;

      &__container {
        padding: 35px 16px 80px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 22px;
      }

      .text-m {
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  .conditions {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 31px;
      }

      .text-m {
        font-size: 16px;
      }
    }


    &-tariffs {
      padding-bottom: 80px;

      .title-l {
        font-size: 24px;
      }

      &__subtitle {
        text-align: center;
        font-size: 16px;
      }

      &__cards {
        padding-top: 32px;
      }

      &__card {
        padding: 25px 16px 16px;
      }

      &__items {
        padding-left: 20px;
        gap: 10px;
        margin-bottom: 60px;
      }
    }

    &-market {
      padding-bottom: 80px;

      &__left {
        max-height: 320px;
        padding: 25px 16px;
        background: var(--brizz-color) url(../images/conditions-market-bg.avif) right -15px bottom / 270px 200px no-repeat;

        .title-l {
          font-size: 24px;
        }
      }

      &__right {
        padding: 25px 16px;

        li {
          font-size: 16px;
        }
      }
    }

    &-intro {
      padding-bottom: 80px;

      &__card {
        padding: 30px 16px 16px;
        min-height: 280px;
      }

      .title-l {
        font-size: 24px;
      }

      &__descr {
        .title-s {
          font-size: 18px;
        }

        .text-m {
          font-size: 16px;
        }
      }
    }

    &-invest {
      padding-bottom: 80px;

      &__container {
        padding: 35px 16px 80px;
      }

      .title-l {
        font-size: 22px;
      }

      .text-m {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }


  .instruments {
    padding-bottom: 80px;

    &__left {
      padding: 130px 16px 60px;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__right {
      background: var(--light-grey-color) url(../images/instruments-bg.avif) bottom center / 300px 200px no-repeat;
    }

    &-tabs {
      padding-bottom: 80px;

      &__container {
        background-size: 350px 450px;
      }

      .text-l {
        font-size: 16px;
      }

      .swiper-btns .swiper-slide {
        padding: 16px 0;
      }

      .swiper-page .swiper-slide {
        padding: 0 16px;
      }

      .swiper-page__top .title-l {
        font-size: 24px;
      }

      .swiper-page .swiper-slide .swiper-page__top .title-l {
        margin-bottom: 20px;
      }

      .swiper-page .swiper-slide .swiper-page__top p {
        font-size: 16px;
      }

      .swiper-page .swiper-slide .swiper-page__content {
        gap: 5px;
      }

      .swiper-page .swiper-slide .swiper-page__bottom .title-s {
        font-size: 18px;
      }

      .swiper-page .swiper-slide .swiper-page__bottom ul li {
        font-size: 16px;
      }

      .swiper-page .swiper-slide .swiper-page__bottom ul li::before {
        left: -5px;
      }

      .swiper-page .swiper-slide {
        gap: 32px;
      }

      .mch-widget-j.mch-widget.mch-widget-quotes.sf .widget-wrapper {
        max-width: 100%;
      }
    }

    &-invest {
      padding-bottom: 80px;

      &__container {
        padding: 35px 16px 80px;
      }

      .title-l {
        font-size: 22px;
      }

      .text-m {
        font-size: 16px;
        max-width: 100%;
      }
    }
  }
}


