@media (max-width: 500px) {
  .container {
    padding: 0 20px;
  }

  .main-bg {
    background: url(../images/intro-bg.avif) center / 400px 400px no-repeat fixed;
  }


  .header {
    &__logo {
      width: 180px;
    }
  }

  .header .nav>.menu>.menu-item>a {
    padding: 20px 10px;
  }

  .header .nav>.menu>.menu-item>.sub-menu {
    padding: 20px 10px;
  }

  .header__right--mobile .menu>.menu-item>a {
    padding: 20px 10px;
  }

  .header__right--mobile .menu>.menu-item>.sub-menu {
    padding: 20px 10px;
  }



  .main-hero {
    padding-bottom: 80px;

    &__left {
      padding: 100px 16px 16px;
      background: #3ba6b1 url(../images/main-hero-bg.avif) left bottom -150px / auto no-repeat;

      .title-m {
        font-size: 32px;
      }

      .text-m {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    &__right {
      padding: 0;
    }

    .features {
      padding: 16px;
    }
  }

  .intro {
    padding-bottom: 80px;

    &__card {
      padding: 30px 16px 16px;
      min-height: 280px;
    }

    .title-l {
      font-size: 24px;
    }

    &__descr {
      .title-s {
        font-size: 18px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    .mod-1:before {
      padding: 6px 20px;
    }

    .mod-2:before {
      padding: 6px 20px;
    }

    .mod-3:before {
      padding: 6px 20px;
    }

    .mod-4:before {
      padding: 6px 20px;
    }
  }

  .trading {
    padding-bottom: 80px;

    &__container {
      gap: 10px;
    }

    &__card {
      padding: 16px;
    }

    &__info {
      background: var(--brizz-color) url(../images/trading-small.avif) center bottom / 321px 260px no-repeat;
      padding: 32px 25px 200px;

      .title-l {
        font-size: 24px;
      }

      .text-m {
        font-size: 16px;
      }
    }

    &__text {
      .title-s {
        font-size: 18px;
      }

      .text-m {
        font-size: 16px;
      }
    }
  }


  .account {
    padding: 0 0 80px;

    &__card {
      padding: 25px 16px;

      &-1 {
        .title-s {
          font-size: 18px;
        }
      }

      &-2 {
        .title-s {
          font-size: 18px;
        }
      }

      &-3 {
        max-height: 400px;
        background: var(--light-grey-color) url(../images/account.avif) top 265px center / contain no-repeat;

        .title-l {
          font-size: 23px;
        }
      }

      .text-m {
        font-size: 16px;
      }
    }
  }


  .bonuses {
    padding-bottom: 80px;

    &__container {
      padding: 16px;
    }

    &__wrapper {
      gap: 30px;
    }

    &__text {
      gap: 25px;

      .title-l {
        font-size: 24px;
      }
    }

    &__descr {
      margin-bottom: 25px;
      .text-m {
        font-size: 16px;
      }
    }
  }


  .trust {
    padding-bottom: 80px;
    .title-l {
      font-size: 24px;
    }

    &__card {

      .text-m {
        font-size: 16px;
      }
    }
  }

  .invest {
    padding-bottom: 80px;
    &__container {
      padding: 35px 16px 80px;
      background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
    }

    &__wrapper {
      .title-l {
        font-size: 24px;
      }
    }

    &__text {
      .text-m {
        font-size: 16px;
      }
    }
  }

  .footer {
    &__container {
      background: var(--light-grey-color) url(../images/footer-small-bg.avif) top right / auto no-repeat;
      padding: 16px;
    }

    &__logo {
      width: 100%;
    }

    &__top {
      margin-bottom: 60px;
    }

    .menu {
      row-gap: 30px;
    }

    &__risk {
      font-size: 14px;
    }
  }


  .cookies {
    left: 20px;
    right: 20px;
    bottom: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .btn {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}


