@media (max-width: 600px) {
  .main-bg {
    background: url(../images/intro-bg.avif) center / 500px 500px no-repeat fixed;
  }

  .header {
    .nav {
      max-width: 320px;
    }
  }

  .main-hero {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }
  }

  .intro {
    .title-l {
      font-size: 30px;
    }

    &__card {
      border-radius: 30px;
    }
  }

  .trading {
    &__info {
      border-radius: 30px;

      .title-l {
        font-size: 30px;
      }
    }
  }

  .account {
    &__card {
      border-radius: 30px;

      &-3 {
        background: var(--light-grey-color) url(../images/account.avif) top 265px center / contain no-repeat;
        gap: 25px;

        .title-l {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }

      .btn {
        margin-top: 0;
      }
    }
  }

  .bonuses {
    &__container {
      border-radius: 30px;
      padding: 30px 20px;
    }

    &__text {
      .title-l {
        font-size: 30px;
      }
    }
  }

  .trust {
    .title-l {
      font-size: 30px;
    }

    &__card {
      padding: 30px 20px;
      border-radius: 30px;
    }
  }

  .invest {
    &__container {
      padding: 50px 20px 100px;
      border-radius: 30px;
      background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
    }
  }

  .footer {
    &__container {
      border-radius: 30px;
      padding: 30px 20px;
    }
  }


  .about {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-market {
      &__left {
        border-radius: 30px;
      }

      &__right {
        border-radius: 30px;
      }
    }

    &-trading {
      &__container {
        padding: 32px;
        border-radius: 30px;
        background: var(--brizz-color) url(../images/about-trading-bg.avif) bottom right / contain no-repeat;

        .title-l {
          font-size: 35px;
        }
      }
    }

    &-numbers {
      &__container {
        border-radius: 30px;
      }

      .title-m {
        font-size: 30px;
      }
    }

    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }


  .contacts {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-trading {
      &__container {
        border-radius: 30px;
        gap: 30px;
      }

      &__wrapper {
        flex-direction: column;
        margin-bottom: 10px;
      }

      &__form {
        border-radius: 30px;
        gap: 10px;
        display: flex;
        flex-direction: column;
      }
    }
  }


  .documents {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-intro {
      &__card {
        border-radius: 30px;

        .title-s {
          font-size: 22px;
        }
      }
    }

    &-trading {
      &__container {
        gap: 30px;
        border-radius: 30px;
      }

      &__info {
        .title-l {
          font-size: 29px;
        }
      }

      &__wrapper {
        flex-direction: column;
        margin-bottom: 10px;
      }


      &__form {
        border-radius: 30px;
        gap: 10px;
        display: flex;
        flex-direction: column;
      }
    }
  }


  .overview {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-market {
      &__left {
        border-radius: 30px;
      }

      &__right {
        border-radius: 30px;
      }
    }


    &-state {
      .container {
        .title-l {
          font-size: 41px;
          margin-bottom: 15px;
        }
      }
    }


    &-graphics {
      .title-l {
        font-size: 41px;
        margin-bottom: 15px;
      }
    }

    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 33px;
      }
    }
  }


  .forecasts {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-intro {
      .title-l {
        font-size: 30px;
      }

      &__card {
        border-radius: 30px;
      }
    }

    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }


  .news {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
      background: var(--light-grey-color) url(../images/news-bg.avif) center right / cover no-repeat;
    }

    &-intro {
      .title-l {
        font-size: 30px;
      }

      &__card {
        border-radius: 30px;
      }
    }

    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }


  .calendar {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-trading {
      &__container {
        padding: 32px;
        border-radius: 30px;
        background: var(--brizz-color) url(../images/about-trading-bg.avif) bottom right / contain no-repeat;

        .title-l {
          font-size: 35px;
        }
      }
    }

    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }


  .conditions {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-tariffs {
      &__card {
        border-radius: 30px;
        min-height: 545px;
      }

      &__items {
        padding-left: 30px;
      }
    }

    &-market {
      &__left {
        border-radius: 30px;

        .title-l {
          font-size: 35px;
        }
      }

      &__right {
        border-radius: 30px;
      }
    }

    &-intro {
      .title-l {
        font-size: 30px;
      }

      &__card {
        border-radius: 30px;
      }
    }

    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }


  .instruments {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-tabs {
      &__container {
        border-radius: 30px;
      }

      .swiper-page__top .title-l {
        font-size: 28px;
      }
    }

    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }


  .platform {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
      background: var(--light-grey-color) url(../images/platform-bg.avif) center bottom / 325px 280px no-repeat;
    }

    &-trader {
      &__container {
        border-radius: 30px;
        &:before {
          background: var(--brizz-color) url(../images/platform-trader.svg) center center / 30px 25px no-repeat;
          top: -30px;
          right: 30px;
          width: 60px;
          height: 60px;
        }
      }

      &__text {
        .title-l {
          font-size: 35px;
        }
      }

      &__img {
        img {
          width: 380px;
          height: 280px;
        }
      }
    }

    &-mobile {
      &__container {
        border-radius: 30px;
        &:before {
          background: var(--brizz-color) url(../images/platform-mobile.svg) center center / 25px 35px no-repeat;
          top: -30px;
          right: 30px;
          width: 60px;
          height: 60px;
        }
      }

      &__text {
        .title-l {
          font-size: 35px;
        }
      }

      &__btns {
        flex-direction: column;
      }

      &__img {
        img {
          width: 390px;
          height: 250px;
        }
      }
    }

    &-desktop {
      &__container {
        border-radius: 30px;
        &:before {
          background: var(--brizz-color) url(../images/platform-desktop.svg) center center / 30px 30px no-repeat;
          top: -30px;
          right: 30px;
          width: 60px;
          height: 60px;
        }
      }

      &__text {
        .title-l {
          font-size: 35px;
        }
      }

      &__img {
        img {
          width: 270px;
          height: 250px;
        }
      }
    }

    &-trading {
      &__container {
        padding: 32px;
        border-radius: 30px;
        background: var(--brizz-color) url(../images/about-trading-bg.avif) bottom right / contain no-repeat;

        .title-l {
          font-size: 35px;
        }
      }
    }

    &-intro {
      .title-l {
        font-size: 30px;
      }

      &__card {
        border-radius: 30px;
      }
    }


    &-invest {
      &__container {
        padding: 50px 20px 100px;
        border-radius: 30px;
        background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }


  .error-hero {
    h1 {
      font-size: 52px;
    }

    &__right {
      min-height: 400px;
    }
  }
}