@media (max-width: 600px) {
  .main-bg {
    background: url(../images/intro-bg.avif) center / 500px 500px no-repeat fixed;
  }

  .header {
    .nav {
      width: 70%;
    }
  }

  .main-hero {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }
  }

  .intro {
    .title-l {
      font-size: 30px;
    }

    &__card {
      border-radius: 30px;
    }
  }

  .trading {
    &__info {
      border-radius: 30px;
      .title-l {
        font-size: 30px;
      }
    }
  }

  .account {
    &__card {
      border-radius: 30px;
      &-3 {
        background: var(--light-grey-color) url(../images/account.avif) top 265px center / contain no-repeat;
        gap: 25px;

        .title-l {
          font-size: 30px;
          margin-bottom: 10px;
        }
      }

      .btn {
        margin-top: 0;
      }
    }
  }

  .bonuses {
    &__container {
      border-radius: 30px;
      padding: 30px 20px;
    }

    &__text {
      .title-l {
        font-size: 30px;
      }
    }
  }

  .trust {
    .title-l {
      font-size: 30px;
    }

    &__card {
      padding: 30px 20px;
      border-radius: 30px;
    }
  }

  .invest {
    &__container {
      padding: 50px 20px 100px;
      border-radius: 30px;
      background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / cover no-repeat;
    }
  }

  .footer {
    &__container {
      border-radius: 30px;
    }
  }




  .about {
    &__left {
      border-radius: 30px;
    }

    &__right {
      border-radius: 30px;
    }

    &-market {
      &__left {
        border-radius: 30px;
      }
      &__right {
        border-radius: 30px;
      }
    }

    &-trading {
      &__container {
        border-radius: 30px;
        background: var(--brizz-color) url(../images/about-trading-bg.avif) center bottom / 500px 300px no-repeat;
      }
    }

    &-numbers {
      &__container {
        border-radius: 30px;
      }

      .title-m {
        font-size: 30px;
      }
    }

    &-invest {
      &__container {
        border-radius: 30px;
        padding: 60px 20px;
      }

      .title-l {
        font-size: 29px;
      }
    }
  }
}