@media (max-width: 600px) {
  .main-bg {
    background: url(../images/intro-bg.avif) center / 500px 500px no-repeat fixed;
  }

  .header {
    &__logo {
      width: 170px;
    }

    .lang {
      a {
        font-size: 16px;
      }
    }
  }

  .main-hero {
    &__left {
      background: #3ba6b1 url(../images/main-hero-bg.avif) left bottom -150px / auto no-repeat;
      padding: 100px 20px 30px;
    }

    &__right {
      padding: 30px 20px;
    }

    .features {
      gap: 20px;
    }
  }

  .intro {
    .title-l {
      font-size: 30px;
    }

    &__card {
      min-height: 320px;
    }

    &__descr {
      .title-s {
        font-size: 25px;
      }
    }
  }

  .trading {
    &__info {
      .title-l {
        font-size: 30px;
      }
    }
  }

  .account {
    &__card {
      &-3 {
        background: var(--light-grey-color) url(../images/account.avif) top 265px center / contain no-repeat;
        gap: 25px;

        .title-l {
          font-size: 30px;
          margin-bottom: 0;
        }
      }

      .btn {
        margin-top: 0;
      }
    }
  }

  .bonuses {
    &__container {
      padding: 30px 20px;
    }

    &__text {
      margin-top: 0;

      .title-l {
        font-size: 30px;
      }
    }
  }

  .trust {
    .title-l {
      font-size: 30px;
    }

    &__card {
      padding: 30px 20px;

      .text-m {
        font-size: 18px;
      }
    }
  }

  .invest {
    &__container {
      padding: 50px 30px 100px;
      background: var(--purpur-color) url(../images/invest-small-bg.avif) center center / contain no-repeat;
    }

    &__wrapper {
      .title-l {
        font-size: 30px;
      }
    }
  }
}