@media (max-width: 700px) {
  .main-bg {
    background: url(../images/intro-bg.avif) center / 600px 600px no-repeat fixed;
  }

  .main-hero {
    &__right {
      padding: 60px 22px 30px;
    }
  }

  .trading {
    &__info {
      background: var(--brizz-color) url(../images/trading-small.avif) center bottom / 400px 300px no-repeat;
      padding: 32px 25px 245px;
    }
  }

  .account {
    &__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__card {
      &-3 {
        order: -1;
        grid-column: unset;
        grid-row: unset;
      }
    }
  }

  .invest {
    &__wrapper {
      .title-l {
        font-size: 30px;
      }

      .text-m {
        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }

  .footer {
    &__container {
      background: var(--light-grey-color) url(../images/footer-bg.avif) top right / auto no-repeat;
    }

    &__top {
      align-items: flex-start;
      gap: 10px;
    }

    &__logo {
      width: 280px;
      margin-bottom: 25px;
    }

    &__contact {
      margin-left: 30px;
      padding-left: 10px;
    }

    &__mail {
      margin-left: 40px;
    }

    &__box {
      .menu {
        grid-template-columns: auto;
        grid-template-rows: 1fr;
      }
    }
  }



  .about {
    &-invest {
      .title-l {
        font-size: 34px;
      }
    }
  }
}