@media (max-width: 768px) {
    .header {
        .container {
            padding-top: 30px;
        }

        .nav > .menu {
            top: 100px;
            transition: none;
        }
    }

    .intro {
        .title-l {
            font-size: 40px;
        }

        &__descr {
            gap: 20px;
        }
    }

    .trading {
        &__container {
            background: var(--brizz-color) url(../images/trading-small.avif) top 290px center / 400px 290px no-repeat;
        }

        &__info {
            .title-l {
                font-size: 42px;
            }

        }
    }

    .account {
        &__card {
            &-1 {
                .title-s {
                    font-size: 22px;
                }
            }

            &-2 {
                .title-s {
                    font-size: 22px;
                }
            }

            &-3 {
                height: 400px;
                background: var(--light-grey-color) url(../images/account.avif) top 220px center / contain no-repeat;

                .title-l {
                    font-size: 40px;
                }
            }
        }
    }

    .bonuses {
        &__text {
            .title-l {
                font-size: 40px;
            }
        }
    }

    .trust {
        .title-l {
            font-size: 40px;
        }

        &__card {
            min-height: 300px;
            padding: 32px 25px;
        }
    }

    .invest {
        &__container {
            padding: 60px 30px;
        }

        .btn {
            max-width: 100%;
        }
    }

    .footer {
        .sub-menu {
            gap: 20px;
        }
    }
}