@media (max-width: 900px) {
    .main-bg {
        background: url(../images/intro-bg.avif) center / 700px 700px no-repeat fixed;
    }

    .header {
        .container {
            grid-template-columns: 1fr;
        }

        &__left {
            padding: 0 0 0 20px;
        }

        .menu {
            & > .menu-item--lang {
                display: none;

                & > a {
                    margin-left: 0;
                }
            }
        }

        .lang {
            display: block;
            padding: 10px 20px;

            a {
                color: var(--white-color);
                border-radius: 22px;
                background: rgba(89, 89, 89, .6);
                padding: 10px 20px;
                -webkit-backdrop-filter: blur(2px);
                backdrop-filter: blur(2px);
                font-size: 18px;
                font-weight: 400;
                line-height: 1.4;
            }
        }
    }


    .main-hero {
        .container {
            grid-template-columns: 1fr;
        }

        &__left {
            min-height: 500px;

            .title-m {
                font-size: 32px;
            }

            .text-m {
                font-size: 18px;
            }
        }

        &__right {
            background: var(--light-grey-color) url(../images/mine-hero-bg-traid.avif) right bottom / contain no-repeat;
            min-height: 500px;
        }
    }

    .intro {
        &__descr {
            .title-s {
                font-size: 30px;
            }
        }
    }

    .trading {
        &__card {
            gap: 50px;
        }
    }

    .account {
        &__card {
            &-3 {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
                height: 500px;
                background: var(--light-grey-color) url(../images/account.avif) top 250px center / contain no-repeat;

                .title-l {
                    font-size: 37px;
                }
            }
        }
    }

    .bonuses {

        &__wrapper {
            flex-direction: column;
        }

        &__descr {
            .text-m {
                &:last-of-type {
                    margin-bottom: 20px;
                }
            }
        }

        &__text {
            .title-l {
                font-size: 37px;
            }
        }
    }

    .trust {
        &__card {
            .text-m {
                font-size: 18px;
            }
        }
    }

    .invest {
        .btn {
            width: 600px;
        }
    }

    .footer {
        &__top {
            flex-direction: column;
            gap: 20px;
            margin-bottom: 40px;
        }

        &__logo {
            width: initial;
            margin-bottom: 10px;
        }

        .menu {
            row-gap: 40px;
        }
    }
}