@media (max-width: 900px) {
  .main-bg {
    background: url(../images/intro-bg.avif) center / 700px 700px no-repeat fixed;
  }

  .header {
    .container {
      grid-template-columns: 1fr;
    }


    svg {
      width: 100%;
      height: 100%;

      path {
        stroke: var(--white-color);
      }
    }
  }


  .main-hero {
    .container {
      grid-template-columns: 1fr;
    }

    &__left {
      background: #3ba6b1 url(../images/main-hero-bg.avif) left bottom -125px / auto no-repeat;

      .title-m {
        font-size: 35px;
      }
    }

    &__right {
      background: var(--light-grey-color) url(../images/mine-hero-bg-traid.avif) right bottom / cover no-repeat;
    }
  }

  .trading {
    &__info {
      .title-l {
        font-size: 35px;
      }
    }
  }

  .account {
    &__card {
      &-3 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        height: 500px;
        background: var(--light-grey-color) url(../images/account.avif) top 250px center / contain no-repeat;
      }
    }
  }

  .bonuses {
    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__text {
      margin-top: 0;
    }

    &__descr {
      margin-bottom: 50px;
    }

    &__text {
      .title-l {
        font-size: 37px;
      }
    }
  }

  .invest {
    &__container {
      padding: 60px 40px;
    }

    &__wrapper {
      .title-l {
        font-size: 35px;
      }
    }

    .btn {
      max-width: 100%;
    }
  }

  .footer {
    &__top {
      flex-direction: column;
      gap: 20px;
    }

    &__logo {
      width: initial;
      margin-bottom: 10px;
    }
  }
}