@media (max-width: 992px) {

  .header {
    .menu {
      & > .menu-item {
        &:before {
          content: none;
        }
        & > a {
          padding: 10px 20px;
        }
      }
    }
  }

  .main-hero {
    padding-bottom: 100px;

    .container {
      min-height: 645px;
    }

    &__left {
      padding: 120px 30px 30px;
      background: #3ba6b1 url(../images/main-hero-bg.avif) left bottom -90px / auto no-repeat;

      .text-m {
        font-size: 17px;
      }
    }
  }

  .intro {
    padding-bottom: 100px;

    &__cards {
      padding: 40px 0 0;
      position: relative;

      &-pagination {
        display: block;
        text-align: center;
        margin-top: 20px;
      }
    }

    .mod-1,
    .mod-2,
    .mod-3,
    .mod-4, {
      transform: rotate(0);
      inset: 0;
    }

    &__descr {
      .title-s {
        font-size: 24px;
      }
    }

    &__avatars {
      img {
        width: 65px;
        height: 65px;
      }
    }

    &__accounts {
      img {
        width: 65px;
        height: 65px;
      }
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }

    .swiper-pagination-bullet-active {
      background: var(--purpur-color);
    }
  }

  .trading {
    padding-bottom: 100px;

    &__container {
      display: flex;
      gap: 50px;
      flex-direction: column;
      background: none;
      padding: 0;
    }

    &__info {
      background: var(--brizz-color) url(../images/trading-small.avif) center bottom / 450px 340px no-repeat;
      border-radius: 55px;
      padding: 32px 25px 300px;
      max-width: 100%;

      .title-l {
        font-size: 42px;
      }
    }

    &__cards {
      flex-direction: column;
      align-items: flex-start;
    }

    &__card {
      max-width: 100%;
      gap: 50px;
    }

    &__text {
      .text-m {
        font-size: 17px;
      }
    }
  }

  .account {
    padding: 0 0 100px;

    &__grid {
      gap: 15px;
    }

    &__card {
      padding: 30px 20px;

      &-3 {
        background: var(--light-grey-color) url(../images/account.avif) top 400px right 0px / contain no-repeat;

        .title-l {
          font-size: 35px;
        }
      }
    }
  }

  .bonuses {
    padding-bottom: 100px;

    &__text {
      .title-l {
        font-size: 39px;
      }
    }
  }

  .trust {
    padding-bottom: 100px;

    &__cards {
      padding: 40px 0 0;
      position: relative;

      &-pagination {
        display: block;
        text-align: center;
        margin-top: 20px;
      }
    }


    .mod-1,
    .mod-2,
    .mod-3,
    .mod-4, {
      transform: rotate(0);
      inset: 0;
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }

    .swiper-pagination-bullet-active {
      background: var(--purpur-color);
    }
  }

  .invest {
    padding-bottom: 100px;

    &__container {
      padding: 80px 40px;
    }

    &__wrapper {
      .title-l {
        font-size: 40px;
      }
    }
  }

  .footer {
    &__container {
      background: var(--light-grey-color) url(../images/footer-bg.avif) top right / 260px 180px no-repeat;
    }

    &__logo {
      width: 200px;
    }

    .menu {
      flex-wrap: wrap;
      row-gap: 40px;

      &-descr {
        max-width: 100%;
      }
    }
  }

}