<nav class="nav">
    <ul class="menu">
        <li class="menu-item">
            <a href="##">Торговля</a>

            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="conditions.html">Условия торговли</a>
                </li>

                <li class="menu-item">
                    <a href="instruments.html">Торговые инструменты</a>
                </li>

                <li class="menu-item">
                    <a href="platform.html">Торговая платформа</a>
                </li>
            </ul>
        </li>


        <li class="menu-item">
            <a href="##">Аналитика</a>

            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="overview.html">Обзор рынка</a>
                </li>

                <li class="menu-item">
                    <a href="forecasts.html">Прогнозы рынка</a>
                </li>

                <li class="menu-item">
                    <a href="news.html">Новости рынка</a>
                </li>

                <li class="menu-item">
                    <a href="calendar.html">Экономический календарь</a>
                </li>
            </ul>
        </li>


        <li class="menu-item">
            <a href="##">Компания</a>

            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="about.html">О нас</a>
                </li>

                <li class="menu-item">
                    <a href="contacts.html">Контакты</a>
                </li>

                <li class="menu-item">
                    <a href="documents.html">Документы</a>
                </li>
            </ul>
        </li>

        <li class="menu-descr">Уведомление о рисках: инвестирование в группы высокого риска (Forex)  и торговля контрактами на разницу (CFD) являются спекулятивными операциями, имеют высокий риск, и не подходят для каждого инвестора. Вы можете понести как частичные, так и полные потери вложенных средств, поэтому мы советуем не инвестировать капитал, которым вы не можете рисковать. Вы должны знать о высоком риске, связанном с использованием кредитного плеча. Мы настоятельно рекомендуем Вам внимательно ознакомиться с условиями работы нашей компании перед началом использования наших сервисов.</li>
    </ul>





</nav>