@media (min-width: 1200px) {
  .header {
    .menu {
      & > .menu-item {
        & > a {
          &:hover {
            background: rgba(168, 139, 139, 0.5);
            transition: .5s ease-in-out background;
          }
        }

        &:hover {
          & > .sub-menu {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);


            & > .menu-item {
              a {
                font-size: 18px;
                font-weight: 400;
                white-space: nowrap;
                transition: .5s ease-in all;

                &:hover {
                  color: var(--brizz-light-color);
                  transition: .5s ease-in-out all;
                }
              }
            }
          }
        }
      }
    }
  }

  .intro {
    &__card {
      &:hover {
        scale: (1.1);
        z-index: 10;
        transition: scale 0.4s ease-in;
      }
    }
  }


  .trust {
    &__card {
      &:hover {
        scale: (1.1);
        z-index: 10;
        transition: scale 0.4s ease-in;
      }
    }
  }


  .conditions-tariffs {
    .mod-1 {
      &:hover {
        scale: (1.1);
        z-index: 300;
        transition: scale 0.4s ease-in;
      }
    }

    .mod-2 {
      &:hover {
        scale: (1.1);
        z-index: 300;
        transition: scale 0.4s ease-in;
      }
    }

    .mod-3 {
      &:hover {
        scale: (1.1);
        z-index: 300;
        transition: scale 0.4s ease-in;
      }
    }
  }


  .conditions-intro {
    &__card {
      &:hover {
        scale: (1.1);
        z-index: 10;
        transition: scale 0.4s ease-in;
      }
    }
  }


  .contacts-trading {
    &__item {
      a {
        &:hover {
          opacity: .5;
          transition: .5s ease-in-out;
        }
      }
    }
  }


  .forecasts-intro {
    &__card {
      &:hover {
        scale: (1.1);
        z-index: 10;
        transition: scale 0.4s ease-in;
      }
    }
  }


  .news-intro {
    &__card {
      &:hover {
        scale: (1.1);
        z-index: 10;
        transition: scale 0.4s ease-in;
      }
    }
  }

  .platform-intro {
    &__card {
      &:hover {
        scale: (1.1);
        z-index: 10;
        transition: scale 0.4s ease-in;
      }
    }
  }


  .instruments-tabs {
    .swiper-btns {

      .swiper-slide {

        &:hover {
          color: var(--brizz-color);
        }

      }
    }
  }


  .footer {
    &__contact {
      &:hover {
        opacity: .5;
        transition: .5s ease-in-out;
      }
    }

    &__mail {
      &:hover {
        opacity: .5;
        transition: .5s ease-in-out;
      }
    }

    .sub-menu {
      li {
        & > a {
          &:hover {
            color: var(--brizz-color);
            transition: .4s ease-out;
          }
        }
      }
    }
  }

  .cookies {
    .btn {
      &:hover {
        background: var(--purpur-light-color);
      }
    }
  }

  .btn {
    &-white {
      &:hover {
        background: #bd0cb6;
        color: var(--white-color);
        transition: .5s ease-out;
      }
    }

    &-purpure {
      &:hover {
        background: #bd0cb6;
        transition: .5s ease-out;
      }
    }

    &-circle {
      &:hover {
        background: #bd0cb6 url(../images/circle-button-arrow-white.svg) center center / 24px 24px no-repeat;
        transition: .5s ease-out;
      }
    }
  }
}