.bonuses {
  padding-bottom: 150px;

  &__container {
    background-color: var(--brizz-color);
    border-radius: 55px;
    padding: 32px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  &__text {
    max-width: 706px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 32px;
    gap: 30px;

    .title-l {
      color: var(--white-color);
    }
    .btn {
      display: block;
    }
  }

  &__descr {
    p {
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }


  &__img {
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 22px;
    }
  }
}