.error-hero {
  padding-bottom: 150px;
  .container {
    padding-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  &__left {
    display: block;
    flex-direction: column;
    justify-content: center;
    padding: 230px 30px 30px;
    background: #3BA6B1 url(../images/main-hero-bg.avif) left bottom /auto no-repeat;
    border-radius: 50px;
    min-height: 750px;
    gap: 40px;
    text-align: center;
  }

  h1 {
    color: var(--white-color);
    font-size: 96px;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 40px;
  }

  .btn {
    display: block;
  }

  &__right {
    padding: 160px 30px 30px;
    background: var(--light-grey-color) url(../images/error.avif) right bottom / auto no-repeat;
    border-radius: 50px;
    min-height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 20px;
  }
}