.footer {
  padding-bottom: 20px;

  .container {
    background: var(--light-grey-color) url(../images/footer/footer-bg.avif) top right / auto no-repeat;
    border-radius: 50px;
    padding: 32px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 22px;
    background: rgba(40, 40, 40, 0.60);
    backdrop-filter: blur(2px);
    margin-bottom: 60px;
  }

  &__contact {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url(../images/footer/phone.svg);
      top: 2px;
      left: -32px;
      width: 20px;
      height: 20px;
      transition: .5s ease-in;
    }

    &:hover {
      opacity: .5;
      transition: .5s ease-in-out;
    }
  }

  &__mail {
    position: relative;
    padding-right: 150px;
    &:after {
      content: "";
      position: absolute;
      background: url(../images/footer/mail.svg);
      top: 3px;
      left: -40px;
      width: 20px;
      height: 20px;
      transition: .5s ease-in;
    }

    &:hover {
      opacity: .5;
      transition: .5s ease-in-out;
    }
  }


  .menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    &-descr {
      max-width: 714px;
      color: var(--grey-color);
    }
  }

  .menu-subtitle {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 400;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
     li {
       color: var(--grey-color);
       font-size: 16px;
       font-weight: 300;
       transition: .4s ease-in;

       &:hover {
         color: var(--brizz-color);
         transition: .4s ease-out;
       }
     }
  }

  &__copyright {
    color: var(--black-color);
    text-align: center;
  }
}