.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 20px;
    transition: .5s ease-in-out all;
  }

  &__logo {
    display: block;
    width: 205px;
    height: 35px;
    background: url(../images/logo.svg) center / contain no-repeat;
  }

  &__left {
    display: flex;
    padding: 0 0 0 30px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    gap: 0 10px;

    & > .menu-item {
      position: relative;
      transition: 1s ease-in all;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        width: 100%;
        height: 60px;
        display: block;
      }

      & > a {
        color: var(--white-color);
        font-size: 18px;
        font-weight: 400;
        padding: 10px 20px;
        border-radius: 22px;
        background: rgba(200, 200, 200, 0.30);
        backdrop-filter: blur(2px);
        transition: .5s ease-in background;
        display: block;
      }

      & > .sub-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        left: 0;
        top: calc(100% + 10px);
        gap: 15px;
        padding: 15px 20px;
        background: #65b0b8;
        border-radius: 15px;
        transition: .3s ease-in all;
        box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.25);
        visibility: hidden;
        white-space: nowrap;
        color: var(--white-color);
        opacity: 0;
      }
    }
  }

  &__right {
    .header__lang {
      & > .menu-item {
        > a {
          color: var(--white-color);
          border-radius: 22px;
          background: rgba(89, 89, 89, 0.60);
          padding: 10px 20px;
          backdrop-filter: blur(2px);
          text-transform: uppercase;

          font-size: 18px;
          font-weight: 400;
          line-height: 1.4;

          &:hover {
            background: rgba(168, 139, 139, .5);
          }
        }


      }
    }
  }

  &__burger {
    display: none;
  }

}

.scrolled {
  top: 0;
  background: rgba(59, 166, 177, 0.9);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .25);

  .container {
    transition: .5s ease-in-out all;
    padding-top: 20px;
  }
}

.header__lang>.menu-item>a {

}



