.instruments {
  padding-bottom: 150px;

  .container {
	padding-top: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	min-height: 425px;
  }

  &__left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #3BA6B1;
	border-radius: 50px;
	gap: 25px;
	text-align: center;
	align-items: center;
  }

  p {
	max-width: 540px;
	text-align: center;
  }

  &__right {
	background: var(--light-grey-color) url(../images/instruments-bg.avif) 75% bottom / 440px 300px no-repeat;
	border-radius: 50px;
  }
}


.instruments-tabs {
  padding-bottom: 150px;

  &__container {
	border-radius: 55px;
	background-position: right 80px bottom 20px;
	background-size: 450px 513px;
	background-color: var(--light-grey-color);
	background-repeat: no-repeat;
	min-height: 785px;
	overflow: hidden;
  }

  .swiper-wrapper {
	justify-content: space-between;
  }

  .swiper-btns {
	position: relative;
	margin: 0 0 32px;
	text-align: center;

	&::before {
	  content: '';
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  height: 3px;
	  background: var(--brizz-light-color);
	  pointer-events: none;
	}

	.swiper-slide {
	  position: relative;
	  padding: 20px 0;
	  color: var(--grey-color);
	  cursor: pointer;
	  transition: color .3s;

	  &.swiper-slide-thumb-active {
		color: var(--black-color);

		&::after {
		  content: '';
		  position: absolute;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  height: 3px;
		  background: var(--purpur-color);
		  z-index: 1;
		  pointer-events: none;
		}
	  }
	}
  }

  .swiper-page {
	.swiper-slide {
	  padding-left: 32px;
	  display: flex;
	  gap: 90px;

	  .swiper-page__content {
		display: flex;
		flex-direction: column;
		max-width: 845px;
		gap: 65px;
	  }

	  .swiper-page__top {
		text-align: left;

		.title-l {
		  margin-bottom: 25px;
		}

		.text-m {
		  color: var(--grey-color);
		}

		p {
		  margin-bottom: 20px;
		}
	  }

	  .swiper-page__bottom {
		max-width: 815px;

		.title-s {
		  margin-bottom: 25px;
		}

		.text-m {
		  color: var(--grey-color);
		}

		ul {
		  display: flex;
		  flex-direction: column;
		  gap: 10px;

		  li {
			position: relative;
			padding-left: 25px;

			&::before {
			  content: '';
			  background: url(../images/arrow-instruments-right.svg) center center / cover no-repeat;
			  position: absolute;
			  width: 20px;
			  height: 20px;
			  left: 0;
			  top: 50%;
			  transform: translateY(-50%);
			  color: #21B3A3;
			  font-size: 12px;

			}
		  }
		}
	  }
	}
  }
}


.instruments-invest {
  padding-bottom: 150px;

  &__container {
	background: var(--purpur-color) url(../images/invest-bg.avif) center center / cover no-repeat;
	border-radius: 54px;
	padding: 80px 250px 150px;
  }

  &__wrapper {
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 25px;

	.title-l {
	  color: var(--white-color);
	}

	.text-m {
	  margin-bottom: 0;
	}
  }

  &__text {
	margin-bottom: 10px;

	.text-m {
	  margin-bottom: 5px;
	  &:last-of-type {
		margin-bottom: 0;
	  }
	}
  }

  .btn {
	width: 700px;
  }
}

