.invest {
  padding-bottom: 150px;

  &__wrapper {
    border-radius: 54px;
    background: var(--purpur-color) url(../images/invest-bg.avif) center center / cover no-repeat;
    padding: 80px 250px 150px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .title-l {
      color: var(--white-color);
    }

    .text-m {
      margin-bottom: 10px;
      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }

  .btn {
    width: 700px;
  }
}