.platform {
  padding-bottom: 150px;

  .container {
	padding-top: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	min-height: 425px;
  }

  &__left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 160px 30px 30px;
	background-color: #3BA6B1;
	border-radius: 50px;
	gap: 25px;
	text-align: center;
	align-items: center;
  }

  p {
	max-width: 540px;
	text-align: center;
  }

  &__right {
	background: var(--light-grey-color) url(../images/platform-bg.avif) 75% bottom / contain no-repeat;
	border-radius: 50px;
  }
}


.platform-trader {
  padding-bottom: 150px;

  &__container {
	background-color: var(--light-grey-color);
	border-radius: 55px;
	max-height: 385px;
	position: relative;

	&:before {
	  content: '';
	  background: var(--brizz-color) url(../images/platform-trader.svg) center center/ 50px 45px  no-repeat;
	  position: absolute;
	  top: -50px;
	  right: 45px;
	  width: 100px;
	  height: 100px;
	  border-radius: 22px;
	  transform: rotate(10deg);
	}
  }

  &__wrapper {
	display: flex;
	gap: 60px;
	position: relative;
  }

  &__text {
	width: 770px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	padding-top: 65px;
	padding-left: 32px;
	gap: 25px;

	.title-l {
	  color: var(--black-color);
	}

	.text-m {
	  color: var(--grey-color);
	}
	.btn {
	  width: 100%;
	  display: block;
	}
  }
  &__img {
	img {
	  margin-top: -45px;
	}
  }

  &__descr {
	p {
	  max-width: 610px;
	  margin-bottom: 10px;
	}
  }
}


.platform-mobile {
  padding-bottom: 150px;

  &__container {
	background-color: var(--light-grey-color);
	border-radius: 55px;
	position: relative;
	max-height: 380px;

	&:before {
	  content: '';
	  background: var(--brizz-color) url(../images/platform-mobile.svg) center center/ 30px 45px  no-repeat;
	  position: absolute;
	  top: -50px;
	  left: 45px;
	  width: 100px;
	  height: 100px;
	  border-radius: 22px;
	  transform: rotate(-10deg);
	}
  }

  &__wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
  }

  &__text {
	width: 770px;
	display: flex;
	padding-top: 65px;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	gap: 25px;

	.title-l {
	  color: var(--black-color);
	}

	.text-m {
	  color: var(--grey-color);
	}
  }
  &__img {
	img {
	  margin-top: -55px;
	}
  }

  &__descr {
	p {
	  max-width: 495px;
	  margin-bottom: 40px;
	}
  }

  &__btns {
	display: flex;
	gap: 20px;

	a {
	  width: 350px;
	}
  }
}


.platform-desktop {
  padding-bottom: 150px;

  &__container {
	background-color: var(--light-grey-color);
	border-radius: 55px;
	height: 380px;
	position: relative;

	&:before {
	  content: '';
	  background: var(--brizz-color) url(../images/platform-desktop.svg) center center/ 50px 47px  no-repeat;
	  position: absolute;
	  top: -50px;
	  right: 45px;
	  width: 100px;
	  height: 100px;
	  border-radius: 22px;
	  transform: rotate(10deg);
	}
  }

  &__wrapper {
	display: flex;
	gap: 20px;
	position: relative;
  }

  &__text {
	width: 770px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	padding-top: 65px;
	padding-left: 32px;
	gap: 25px;

	.title-l {
	  color: var(--black-color);
	}

	.text-m {
	  color: var(--grey-color);
	}
	.btn {
	  width: 100%;
	  display: block;
	}
  }
  &__img {
	img {
	  width: 508px;
	  height: 432px;
	  margin-top: -55px;
	}
  }

  &__descr {
	p {
	  max-width: 610px;
	  margin-bottom: 10px;
	}
  }
}


.platform-trading {
  position: relative;
  z-index: 3;
  padding-bottom: 150px;

  &__container {
	min-height: 688px;
	background: var(--brizz-color) url(../images/about-trading-bg.avif) bottom right /auto no-repeat;
	border-radius: 55px;
	padding: 65px 40px 32px;
  }

  .title-l {
	color: var(--white-color);
	text-align: center;
	margin-bottom: 40px;
  }

  &__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 20px;
  }

  &__card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	justify-content: space-between;
	padding: 25px;
	min-height: 245px;
	background-color: var(--light-grey-color);
	border-radius: 22px;
	gap: 30px 0;

	.text-m {
	  color: var(--grey-color);
	}
  }

  &__text {
	display: flex;
	flex-direction: column;
	gap: 15px;
  }
}


.platform-intro {
  padding-bottom: 150px;

  .title-l {
	text-align: center;
  }

  .swiper-pagination {
	display: none;
  }

  &__cards {
	padding: 100px 10px 80px;
  }

  &__card {
	transition: scale 0.4s ease-in;
	position: relative;
	min-height: 357px;
	padding: 32px;
	border-radius: 55px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 15px;

	.text-m {
	  color: var(--black-color);
	}
  }

  &__avatars {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	img {
	  width: 65px;
	  height: 65px;
	  border-radius: 50%;
	  margin-left: -15px;
	}
  }

  &__descr {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
  }

  &__accounts {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	img {
	  width: 64px;
	  height: 64px;
	  border-radius: 64px;
	  margin-left: -15px;
	}
  }

  .mod-1 {
	background-color: var(--light-grey-color);
	transform: rotate(-10deg);
	left: 50px;

	&::before {
	  content: "Шаг 1";
	  position: absolute;
	  top: -15px;
	  left: 30px;
	  padding: 5px 20px;
	  border-radius: 30px;
	  color: var(--white-color);
	  font-size: 16px;
	  font-weight: 400;
	  background: var(--purpur-color);
	}
  }

  .mod-2 {
	background-color: var(--purpur-light-color);
	transform: rotate(10deg);
	top: 40px;
	z-index: 2;

	&::before {
	  content: "Шаг 2";
	  position: absolute;
	  top: -15px;
	  left: 30px;
	  padding: 5px 20px;
	  border-radius: 30px;
	  color: var(--white-color);
	  font-size: 16px;
	  font-weight: 400;
	  background: var(--purpur-color);
	}
  }

  .mod-3 {
	background-color: var(--light-grey-color);
	transform: rotate(-10deg);
	bottom: 30px;
	right: 10px;

	&::before {
	  content: "Шаг 3";
	  position: absolute;
	  top: -15px;
	  left: 30px;
	  padding: 5px 20px;
	  border-radius: 30px;
	  color: var(--white-color);
	  font-size: 16px;
	  font-weight: 400;
	  background: var(--purpur-color);
	}
  }

  .mod-4 {
	background-color: var(--brizz-light-color);
	transform: rotate(10deg);
	top: 40px;
	right: 30px;

	&::before {
	  content: "Шаг 4";
	  position: absolute;
	  top: -15px;
	  left: 30px;
	  padding: 5px 20px;
	  border-radius: 30px;
	  color: var(--white-color);
	  font-size: 16px;
	  font-weight: 400;
	  background: var(--purpur-color);
	}
  }
}


.platform-invest {
  padding-bottom: 150px;

  &__container {
	background: var(--purpur-color) url(../images/invest-bg.avif) center center / cover no-repeat;
	border-radius: 54px;
	padding: 80px 250px 150px;
  }

  &__wrapper {
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 25px;

	.title-l {
	  color: var(--white-color);
	}

	.text-m {
	  margin-bottom: 0;
	}
  }

  &__text {
	margin-bottom: 10px;
  }

  .btn {
	width: 700px;
  }
}
