.trust {
  padding-bottom: 150px;

  .title-l {
    text-align: center;
  }

  .swiper-pagination {
    display: none;
  }

  &__cards {
    padding: 100px 10px 80px;
  }

  &__card {
    transition: scale 0.4s ease-in;
    position: relative;
    min-height: 357px;
    padding: 32px;
    border-radius: 55px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

    .text-m {
      color: var(--black-color);
    }
  }

  &__avatars {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-left: 0;
    }
  }

  &__text {
    &:first-line {
      color: var(--grey-color);
      font-size: 16px;
      font-weight: 300;
    }
    &:last-of-type {
      color: var(--grey-color);
      font-size: 12px;
      font-weight: 300;
    }
  }

  .mod-1 {
    background-color: var(--light-grey-color);
    transform: rotate(-10deg);
    left: 50px;

    &::before {
      display: none;
    }
  }

  .mod-2 {
    background-color: var(--brizz-light-color);
    transform: rotate(10deg);
    top: 40px;
    z-index: 2;

    &::before {
      display: none;
    }
  }

  .mod-3 {
    background-color: var(--light-grey-color);
    transform: rotate(-10deg);
    bottom: 30px;
    right: 10px;

    &::before {
      display: none;
    }
  }

  .mod-4 {
    background-color: var(--purpur-light-color);
    transform: rotate(10deg);
    top: 40px;
    right: 30px;

    &::before {
      display: none;
    }
  }
}